@{
    ViewBag.Title = "Inicio";
    ViewBag.SubMenuSelected = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="div-home">
    <table style="height: 430px; text-align: center;">
        <tr>
            <td>
                @Html.Image("Logo Agencia.jpg", new { width = "498px", height = "217px", alt = "" })
            </td>
        </tr>
    </table>
</div>
