<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="GE" connectionString="metadata=res://*/Modelo.Model1.csdl|res://*/Modelo.Model1.ssdl|res://*/Modelo.Model1.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.250.2.14)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=proaps)));PASSWORD=usr_gestion_empleos;PERSIST SECURITY INFO=True;USER ID=usr_gestion_empleos&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="GE" connectionString="metadata=res://*/Modelo.Model1.csdl|res://*/Modelo.Model1.ssdl|res://*/Modelo.Model1.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.250.2.14)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=proaps)));PASSWORD=usr_gestion_empleos;PERSIST SECURITY INFO=True;USER ID=usr_gestion_empleos&quot;" providerName="System.Data.EntityClient" />
    <add name="GEContainer" connectionString="metadata=res://*/Datos.GE.csdl|res://*/Datos.GE.ssdl|res://*/Datos.GE.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.250.2.14)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=proaps)));PASSWORD=usr_gestion_empleos;PERSIST SECURITY INFO=True;USER ID=usr_gestion_empleos&quot;" providerName="System.Data.EntityClient" />-->
    <add name="GEContainer" connectionString="metadata=res://*/Datos.GE.csdl|res://*/Datos.GE.ssdl|res://*/Datos.GE.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.250.3.52)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=CBABE)));PASSWORD=BECAS_EMPLEO;PERSIST SECURITY INFO=True;USER ID=usr_gestion_empleos&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>