<div id="tab" style="text-align: center;">
    <table align="center" id="mytable">
        <thead>
            <tr>
                <th height="30px" width="930px">
                    <div>
                        @{
                            @Html.Raw("No existen datos.") 
                         }
                    </div>
                </th>
            </tr>
        </thead>
    </table>
</div>
