@{
    ViewBag.Title = "ERROR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h2>
        Lo sentimos, ha ocurrido un error al procesar su solicitud.
    </h2>
    <br />
    <div>
        <a href="javascript:history.back(1)">Atrás</a>
    </div>
</body>
</html>