<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="PageCount" value="10" />
    <add key="CookieName" value="GOBCBA_SGE" />
    <add key="CookieExpiration" value="480" />
    <!-- Máximo de Inactividad para que se caiga la sesión expresada en minutos -->
    <add key="MaximoInactividad" value="20" />
    <!-- Nombre del Esquema de la Base de Datos -->
    <add key="EsquemaDB" value="GESTION_EMPLEOS" />
    <add key="Download_URL" value="C:\" />
    <!--Datos que faltan a los Apoderados y son requeridos para las creaciones de cuentas (se sugirió poner los datos de la Agencia) -->
    <add key="ApoderadoCalle" value="AV JUAN B JUSTO" />
    <add key="ApoderadoNro" value="3600" />
    <add key="ApoderadoPiso" value="0" />
    <add key="ApoderadoDpto" value="0" />
    <add key="ApoderadoLocalidad" value="CORDOBA" />
    <add key="ApoderadoBarrio" value="GRAL BUSTOS" />
    <add key="ApoderadoCodigoPostal" value="5001" />
    <add key="ApoderadoTelefono" value="4336201" />
    <add key="ApoderadoNacionalidad" value="1" />
    <add key="CalleFueraRango" value="SAN MARTIN" />
    <add key="NroFueraRango" value="100" />
    <add key="BarrioFueraRango" value="CENTRO" />
    <add key ="sector" value=""/>
    <add key ="MontoCofinEspecial" value="2500"/>
  </appSettings>

  <connectionStrings>
    <!--Desarrollo-->
    <!--<add name="DataSGE" connectionString="metadata=res://*/Modelo.ModelSGE.csdl|res://*/Modelo.ModelSGE.ssdl|res://*/Modelo.ModelSGE.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.250.2.14)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=PROAPS)));PASSWORD=usr_gestion_empleos;PERSIST SECURITY INFO=True;USER ID=usr_gestion_empleos&quot;" providerName="System.Data.EntityClient"/>-->
    
    <!--Producción OLD SERVER-->
    <!--<add name="DataSGE" connectionString="metadata=res://*/Modelo.ModelSGE.csdl|res://*/Modelo.ModelSGE.ssdl|res://*/Modelo.ModelSGE.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.250.3.52)(PORT=1521)))(CONNECT_DATA=(SERVER=SHARED)(SID=CBABE)));PASSWORD=BECAS_EMPLEO;PERSIST SECURITY INFO=True;USER ID=usr_gestion_empleos&quot;" providerName="System.Data.EntityClient"/>-->

    <!--Producción NUEVO SERVER-->
    <add name="DataSGE" connectionString="metadata=res://*/Modelo.ModelSGE.csdl|res://*/Modelo.ModelSGE.ssdl|res://*/Modelo.ModelSGE.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.250.3.4)(PORT=1521)))(CONNECT_DATA=(SERVER=SHARED)(SID=CBA1)));PASSWORD=becas_empleo;PERSIST SECURITY INFO=True;USER ID=usr_gestion_empleos&quot;" providerName="System.Data.EntityClient"/>
    
    
    <!--Local-->
    <!--<add name="DataSGE" connectionString="metadata=res://*/Modelo.ModelSGE.csdl|res://*/Modelo.ModelSGE.ssdl|res://*/Modelo.ModelSGE.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=wks-sge)(PORT=1521)))(CONNECT_DATA=(SERVER=SHARED)(SID=CBABE)));PASSWORD=BECAS_EMPLEO;PERSIST SECURITY INFO=True;USER ID=usr_gestion_empleos&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DataSGE" connectionString="metadata=res://*/Modelo.ModelSGE.csdl|res://*/Modelo.ModelSGE.ssdl|res://*/Modelo.ModelSGE.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.121.174)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=CBABE)));User Id=usr_gestion_empleos;Password=BECAS_EMPLEO;&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ConnectionString" connectionString="DATA SOURCE=CBABE;PASSWORD=BECAS_EMPLEO;PERSIST SECURITY INFO=True;USER ID=GESTION_EMPLEOS" providerName="Oracle.DataAccess.Client" />-->
  </connectionStrings>

  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        validate="false" />
    </httpHandlers>
    <trace pageOutput="true" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89B483F429C47342"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>

    <globalization culture="es-AR" uiCulture="es" />

    <customErrors mode="Off"/>

    <authentication mode="Forms">
      <forms loginUrl="~/Login/Login" timeout="2880" protection="All" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
   
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
